header{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    background:white;
    z-index: 1000;

}
.wrapper{
    width:80%;
    margin:auto;
}

.container{
    display:grid;
    grid-template-columns: auto auto;
}
.nav-menu{

}
.nav-menu li a{
    text-decoration: none;
}
.nav-menu li{
list-style: none;
float:left;
padding:20px;
}
.button{
    padding:10px 20px !important;
    background-color:rgb(168, 45, 73); 
    margin-top:10px;
    
}
.button a{
    color:white;
}
.img{
    background-image: url(http://demo.tutsflow.com/foodera/images/bg/3.jpg);
}
.text{ margin-left:174px;
    padding:300px 0 ;
}
.text h1{font-size:40px;
    color:#43121d;

}
.text p{font-size:16px;
    color:#555555;
    padding-bottom:30px;

}
.m1{ border:3px  solid orangered !important;
    padding:20px 25px;
    text-decoration: none;
    background-color: #a82d49;
    color:white;
}
.m2{
    border:3px  solid orangered !important;
    padding:20px 25px;
    text-decoration: none;
    background-color:white;
    color:#a82d49;
}

.container1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}
.cont{
    background-color: #a82d49;
    padding:80px;
    
}
.numb{
    color:white;
    font-size:30px;
    text-align: center;
}
.about-img img{border-radius: 10px;
    

}
.about{
    margin-top:100px
}
.about-text h1{font-size:32px;
    color:#43121d;
}
.about-text p{
    font-size:16px;
    color:#555;
    padding-bottom:30px;

}


    
